<!DOCTYPE html>
<html>
	<head>
	  <title><%= title %></title>
	  <%= stylesheet_link_tag :all %>
	  <%= javascript_include_tag :defaults %>
	  
	  <!-- For security reason  -->
	  <%= csrf_meta_tag %>
	  
	  <!-- look for a file called app/views/layouts/_stylesheets -->
	  <%= render 'layouts/stylesheets' %>
	</head>
	<body>
		<div class="container">
			<%= render 'layouts/header' %>
		
			<section class="round">
				<%= yield %>
			</section>
		
			<%= render 'layouts/footer' %>
			
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
